<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <!--<add name="BDCLIENTE" connectionString="Data Source=karinaeirl.sytes.net;Initial Catalog=BDIK_20201013_0945;User ID=sa;Password=K@R1N@;Connection Timeout=500000" providerName="System.Data.SqlClient" />-->
    <add name="BDCLIENTE" connectionString="Data Source=grupocyclone.sytes.net;Initial Catalog=BDCYCLONE;User ID=sa;Password=@1234@ABCD@;Connection Timeout=500000" providerName="System.Data.SqlClient" />
  </connectionStrings>



  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>



</configuration>